/* WHY US */

.why-us{
  padding:80px 8%;
}

.why-us h2{
  text-align:center;
  font-size:40px;
  margin-bottom:50px;
}

.why-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.why-card{
  background:#1e293b;
  padding:30px;
  border-radius:20px;
  text-align:center;
}


/* ABOUT US */

.about-us{
  padding:80px 8%;
  background:#111827;
  text-align:center;
}

.about-us h2{
  font-size:40px;
  margin-bottom:20px;
}

.about-us p{
  max-width:900px;
  margin:auto;
  line-height:1.8;
}


/* RATINGS */

.ratings{
  padding:80px 8%;
  text-align:center;
}

.rating-box{
  background:#1e293b;
  padding:50px;
  border-radius:20px;
  max-width:500px;
  margin:auto;
}

.rating-box h1{
  font-size:70px;
  color:#f97316;
}

.rating-box p{
  margin-top:15px;
  font-size:18px;
}


/* TEXTAREA */

textarea{
  padding:15px;
  border:none;
  border-radius:10px;
  min-height:120px;
}
